version: '2'
services:
  build:
    build: .
    image: subzerojake/dogcactus
    command: /bin/true
  {% for switch in switches -%}
  {{ switch.name }}:
    image: subzerojake/dogcactus
    container_name: "{{ switch.name }}"
    privileged: true
    ports:
      - "{{ switch.mgmt }}:22"
      - "{{ switch.rest }}:443"
    volumes:
      - /tmp:/tmp
      - /dev/log:/dev/log
      - /sys/fs/cgroup:/sys/fs/cgroup
    networks:
      - default
    command: /sbin/init
  {% endfor %}
