[all:vars]
ansible_host=localhost

[all]
docker
{% for switch in switches -%}
{{ switch.name }} ansible_port={{ switch.mgmt }}
{% endfor %}

[switches:children]
fabrics
spines
leaves

[fabrics]
fab[1:{{ num_fabs }}]

[spines]
spine[1:{{ num_spines }}]

[leaves]
leaf[1:{{ num_leaves }}]

# Group for the tests/*.yaml playbooks used by both travis CI.
# You can use the local fab1 switch to run the test as:
#
# $ ansible-playbook tests/test_bridge.yml
[switches@travis]
fab1
